@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 4px;

}

::-webkit-scrollbar-track {
    background: #ddaff12f;

}

::-webkit-scrollbar-thumb {
    background: #ec7b6a84;
    border-radius: 4px;
}


.container-orders-car::-webkit-scrollbar {
    width: 2px;
    padding-left: 10px;
}

.container-orders-car::-webkit-scrollbar-track {
    background: transparent;
    padding-left: 10px;
}

.container-orders-car::-webkit-scrollbar-thumb {
    background: #ec7b6a84;
    border-radius: 4px;
    padding-left: 10px;
}

canvas canvas {
    background-color: red;
}